.logo{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
}  

/* Media Queries */
@media screen and (max-width: 768px) {
    .logo{
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
}