.navbar {
    padding: 0 100px !important;
    margin-top: 20px;
    border-top: 1px solid #F0F0F0 ;
}

.navbar .container{
    margin: 0;
    padding: 0;
}
  
.navbar-nav {
    justify-content: space-between !important;
    width: 100%;
} 
  
.nav-items .nav-link {
    border-left: 1px solid #F0F0F0;
    color: #626262;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
  
.navbar button{
    margin-left: 50px;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.navbar button:hover{
    color: #FFF;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .navbar{
    text-align: center;
  }
  .navbar-toggler.collapsed{
    position: absolute;
    top: -80px;
    right: 20px;
  }

  .navbar-toggler{
    position: absolute;
    top: -80px;
    right: 20px;
  }
    .navbar{
      padding: 20px !important;
    }
    .nav-items .nav-link{
      border: none;

    }
  
    .nav-link {
      border: none;
      border-bottom: 1px solid #f0f0f0;
      padding: 15px 0;
    }
  
    .nav-button {
      margin-left: 0;
      margin-top: 20px;
      margin: auto;
    }
  }